@inherits InterestDetail

<h3>Interest Detail</h3>

@if (CurrentInterest is not null)
{
    <p>Name : @CurrentInterest.Name</p>
    <p>Description : @CurrentInterest.Description</p>
}
else
{
    <p>Loading Interest details...</p>
}

@code {

}
