@inherits LanguageDetail

<h3>Language Detail</h3>

@if (CurrentLanguage is not null)
{
    <p>Name : @CurrentLanguage.Name</p>
    <p>Level : @CurrentLanguage.Level</p>
}
else
{
    <p>Loading Language details...</p>
}

@code {

}
