<h3>Contact Detail</h3>

@if (CurrentContact is not null)
{
    <div class="detail-container">
        <p>Name : @CurrentContact.Name</p>
        <p>Email : @CurrentContact.Email</p>
        <p>Phone : @CurrentContact.Phone</p>
    </div>
}
else
{
    <p>Loading Contact details...</p>
}






























@* Copyrite https://github.com/POLLESSI *@