@inherits ContactDetail

<h3>Contact Detail</h3>

@if (CurrentContact is not null)
{
    <p>Name : @CurrentContact.Name</p>
    <p>Email : @CurrentContact.Email</p>
    <p>Phone : @CurrentContact.Phone</p>
}
else
{
    <p>Loading Contact details...</p>
}

@code {

}
