@page "/education"
@using PortFolioPolLESSIRE0Blazor.Models;

<h3>Educations List</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (EducationModel ce in Educations)
    {
        <tr>
            <td>@ce.School</td>
            <td><button class="btn btn-sm btm-outline-info" @onclick="() => ClickInfo(ce.Id)">Info</button></td>
        </tr>
    }
</table>

<hr />

@if(SelectedId > 0)
{
    <EducationDetail id="SelectedId"></EducationDetail>
}

<hr />
@code {

}
