@page "/experience"
@using PortFolioPolLESSIRE0Blazor.Models;

<h3>Experiences List</h3>
@* <table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (ExperienceModel ce in Experiences)
    {
        <tr>
            <td>@ce.Company</td>
            <td><button class="btn btn-sm btm-outline-info" @onclick="() => ClickInfo(ce.Id)">Info</button></td>
        </tr>
    }
</table> *@

<hr />

@* @if(SelectedId > 0)
{
    <ExperienceDetail id="SelectedId"></ExperienceDetail>
} *@

<hr />
@code {

}
