@page "/privacy"

<h3>Privacy</h3>

<div id="mentions">
	<h1>Legal NotIntellectual propertyice</h1>

	<p>
		1. <h2>Terms of Service</h2> of LESSIRE Pol
		The conditions of use are defined below. the LESSIRE Pol, owner of the site LESSIRE Pol, reserves the right to modify these provisions. As part of a modification, visitors will be notified of these via a message in the “Home” section. No compensation whatsoever may be claimed by users of the site.

		Any consultation or use of the site LESSIRE Pol implies implicit acceptance on the part of the user of the following conditions of use:

		1.1. <h2>Intellectual property</h2>

		Consultation or use of the site LESSIRE Pol does not confer any rights, whatever their nature, to users. These rights remain the exclusive property of the respective authors.

		As a result, all data/information, i.e. the texts, photos, videos, posters, logos and other brands reproduced on the Site are protected by copyright and/or trademark law and/or any other provision in force which is applicable to matters affecting Intellectual property.

		As such and in accordance with the provisions applicable in Belgian law regarding intellectual property, national regulations and international conventions in force, only use for strictly private use is authorized. Any other use, including reproduction, will be considered as acts of counterfeiting, infringement of trademark or copyright law and/or any other provisions in force which are applicable to the provisions relating to intellectual property.

		The user may therefore not reproduce, represent, license, distribute, market or modify all or part of the elements (texts, images, photos, etc.) represented on the site.

		Mr LESSIRE Pol, however, reserves the right to deviate from this provision and will provide prior written agreement to any person making a request.

		Consequently, any illicit use of any element (text, images, photos, logos, etc.), and in any way whatsoever, will be assimilated to an act of reproduction, counterfeiting or even piracy, etc. and may give rise to prosecution.

		1.2. <h2>Personal data</h2>

		As part of the achievement of its corporate purpose, LESSIRE Pol may collect certain personal information from users of the site. This information will be used exclusively by the LESSIRE Pol and will not be transmitted to third parties.

		In accordance with the provisions of the European Data Protection Regulation (GDPR), the Belgian law of December 8, 92 on the protection of private data, modified by the law of December 11, 98, the user has a right of access to his personal data.

		You can permanently unsubscribe/disaffiliate, consult your personal data recorded with our association, request the rectification of your data in the event of an error or request its deletion under your right to be forgotten. Any user wishing to access this right is asked to make a request in writing to the address lessirepol@gmail.com. A response will be sent within 7 days.

		Under the European Data Protection Regulation (GDPR), we are required to ask for your express consent to be able to collect and process the data that you communicate to us via your affiliation newsletter. The data that you communicate to us is used exclusively for calculating your contribution, for creating your access codes to our website, for sending newsletters and, in general, for the proper application of the services we offer to our members. Your data is not communicated to third parties.

		In order to comply with the requirements of the European Data Protection Regulation (GDPR), our association confirms that, in accordance with the principle of data minimization, it only asks its members for the data it needs. Furthermore, in accordance with the same principle, our association only processes your personal data when it is necessary to manage interactions.

		In the event of a professional application or internship

		Under the European Data Protection Regulation (GDPR), we inform you that the personal data you have communicated to us are kept throughout the selection procedure and for this purpose exclusively. For legal security, we keep this data for 1 year following the end of the selection procedure. You are free to send us a deletion request before this deadline.

		In the context of a spontaneous application, under the European Data Protection Regulation (GDPR), we inform you that the personal data that you have communicated to us are kept and collected with a view to a possible position which may open up. in the future. However, after a period of 1 year following receipt of your spontaneous application, we delete your personal data from our database. You are free to send us a deletion request before this deadline.

		Concerned about respecting the requirements of the European Data Protection Regulation (GDPR), our association confirms that it makes every effort to ensure respect for the privacy of its trainees and that, by virtue of the principle of data minimization , she only asks her trainees for the data she needs. Furthermore, in accordance with the same principle, our association only processes the personal data of its trainees when it is necessary to manage their file. The personal data of trainees is not communicated to third parties, with the exception of subsidizing authorities who may cite a legal basis to support their request.
		In case of registration for an event organized by the LESSIRE Pol
		Registration data for an initiative of the LESSIRE Pol are only used for the purpose of managing good participation in the activity and its follow-ups (for example, receipt of documents). A registrant can at any time consult his personal data recorded with the organizer, request rectification in the event of an error or request to be removed from the list by virtue of his right to oversight.

		LESSIRE Pol keeps a copy of your certificate of attendance for 2 years following the training/seminar in which you participated, for the sole purpose of legal security, in the event that you subsequently wish to request a copy again, unless you make an express request for deletion. The personal data included therein are not communicated to third parties.
		https://pol-lessire.lescigales.org
		LESSIRE Pol's website complies, as far as possible, with the requirements of the European Data Protection Regulation (GDPR). Thus, the “user” data that you encode there are not communicated to third parties and they are kept exclusively for the purposes of managing your member account for as long as your affiliation lasts. Your disaffiliation from our association results in the automatic deletion of your “user” data.

		Our newsletters and communications
		LESSIRE Pol strives to comply with the European Data Protection Regulation (GDPR). You can permanently unsubscribe/disaffiliate, request the rectification of your data in the event of an error or request its deletion under your right to be forgotten by sending us an email to pol-lessire.lescigales.org.

		LESSIRE Pol

		The European Data Protection Regulation (GDPR) provides for the protection of personal data of natural persons and not legal entities. These are therefore the natural persons who are protected and whose data security is ensured by LESSIRE Pol in accordance with this private data policy declaration.

		In order to comply with the requirements of the European Data Protection Regulation (GDPR), our association confirms that it has carried out an audit of all contracts which bind it to its subcontractors and confirms that they have all carried out the GDPR compliance.

		1.3. <h3>Limitation of liability</h3>

		Subject to applicable legal or regulatory provisions, the Belgian Speleology Union cannot be held responsible for any direct or indirect damage, loss of profits, customers, data, intangible property that may occur due to the use or the impossibility of using the site.

		On the other hand, the liability of LESSIRE Pol cannot be engaged in the context of an act of reproduction, counterfeiting or piracy, even partial, of the content delivered by its information providers, as well as for damages relating to the these abuses.

		1.4. <h2>Implied responsibility for consultation and use</h2> of the site https://pol-lessire.lescigales.org

		In application of these provisions, the responsibility for consulting and/or using the site https://pol-lessire.lescigales.org rests entirely with the user.
		The information and services included on the Site may contain technical inaccuracies or errors. All such information is provided “as is” without warranty of any kind.
		LESSIRE Pol cannot therefore under any circumstances be held responsible for losses or damages incurred by a user due to the inaccuracy of the content of https://pol-lessire.lescigales.org
		Obtaining advice and information, both written and oral, from the Belgian Speleology Union cannot create a guarantee context.

		1.5. <h2>Applicable law - Disputes</h2>

		The site https://pol-lessire.lescigales.org is subject to Belgian law and in the event of a dispute only the courts of the district of Namur will have jurisdiction.
	</p>

	<p>
		2. Special conditions applicable to the content and certain sections of the site https://pol-lessire.lescigales.org
		2.1. <h2>Audio-visual links and content</h2>

		As part of the achievement of the social purpose of LESSIRE Pol, the site https://pol-lessire.lescigales.org offers these users audio-visual content, such as, for example, listening to or viewing creations.
		These will be offered on the site in agreement with the authors' societies concerned or the rights holders.

		2.2. <h2>Links to other third party sites</h2>

		In order to provide high quality information to these users, the site https://pol-lessire.lescigales.org contains links to other websites which are not the property of the Belgian Speleology Union.
		Any hyperlink offered to third-party sites was checked when the information subject to it was put online. LESSIRE Pol cannot therefore be held responsible, in any way, if, where applicable, a source of information referred to no longer complies with the Belgian or even European legal provisions in force. At no time can the consequences of this non-compliance be attributed to LESSIRE Pol.
	</p>

	<p>LESSIRE Pol</p>

	<h1>Mentions légales</h1>

	<p>
		1. <h2>Conditions générales d’utilisation</h2> du https://pol-lessire.lescigales.org
		Les conditions d’utilisations sont définies ci-dessous. LESSIRE Pol, propriétaire du site https://pol-lessire.lescigales.org, se réserve le droit de modifier les présentes dispositions. Dans le cadre d’une modification, les visiteurs seront avertis de celles-ci via un message repris dans la rubrique d’"Accueil". Aucune indemnité quelconque ne pourra être revendiquée par les utilisateurs du site.

		Toute consultation ou encore utilisation du site https://pol-lessire.lescigales.org implique l’acceptation implicite de la part de l’utilisateur des conditions d’utilisation suivantes :

		1.1. <h2>Propriété intellectuelle</h2>

		La consultation ou l’utilisation du site https://pol-lessire.lescigales.org ne confère aucun droit, et ceci quelqu’en soit la nature, aux utilisateurs. Ces droits restent la propriété exclusive des auteurs respectifs.

		De ce fait, toutes les données / informations, c-à-d. les textes, les photos, les vidéos, les affiches, les logos et autres marques reproduites sur le Site sont protégés par le droit d’auteur et/ou le droit des marques et/ou toute autre disposition en vigueur qui sont applicables aux matières touchant la propriété intellectuelle.

		A ce titre et conformément aux dispositions applicables en droit belge en matière de propriété intellectuelle, aux règlements nationaux et conventions internationales en vigueur, seul l’utilisation pour un usage strictement privé est autorisée. Toute autre utilisation, dont entre autre la reproduction, sera assimilée à des actes de contrefaçon, d’atteinte au droit des marques, d’auteur et/ou à toutes autres dispositions en vigueur qui sont applicables aux dispositions relatives à la propriété intellectuelle.

		L’utilisateur ne pourra dès lors reproduire, représenter, concéder, diffuser, commercialiser, modifier l’ensemble ou une partie des éléments (textes, images, photos, etc. ...) représentés sur le site.

		Mr LESSIRE Pol se réserve cependant le droit de déroger à cette disposition et fournira un accord préalable et écrit à toute personne adressant une demande.

		En conséquence, toute utilisation illicite de tout élément (texte, images, photos, logos, etc. ...), et ceci de quelque manière que se soit, sera assimilé à un acte de reproduction, contrefaçon ou encore de piratage etc. et pourra donner lieu à des poursuites.

		1.2. <h2>Données personnelles</h2>

		Dans le cadre de la réalisation de son objet social, LESSIRE Pol est susceptible de recueillir certaines informations nominatives des utilisateurs du site. Ces informations seront exclusivement utilisées par LESSIRE Pol et ne seront aucunement transmises à des tiers.

		Conformément aux dispositions du Règlement européen pour la protection des données (RGPD), de la loi belge du 8 décembre 92 sur la protection des données privées, modifiée par la loi du 11 décembre 98, l’utilisateur dispose d’un droit d’accès à ses données personnelles.

		Vous pouvez en permanence vous désabonner/vous désaffilier, consulter vos données personnelles enregistrées auprès de notre association, demander la rectification de vos données en cas d’erreur ou en demander la suppression en vertu de votre droit à l’oubli. Tout utilisateur souhaitant accéder à ce droit, est prié de formuler une demande formulée par écrit à l’adresse lessirepol@gmail.com. Une réponse sera adressée endéans les 7 jours.

		En vertu du Règlement européen pour la protection des données (RGPD), nous sommes tenu·e·s de vous demander votre consentement expresse pour pouvoir collecter et traiter les données que vous nous communiquez via votre bulletin d’affiliation. Les données que vous nous communiquez sont utilisées exclusivement pour le calcul de votre cotisation, pour la création de vos codes d’accès à notre site internet, pour l’envoi de lettres d’information et, de façon générale, pour la bonne application des services que nous offrons à nos membres. Vos données ne sont pas communiquées à des tiers.

		Soucieuse de respecter le prescrit du Règlement européen pour la protection des données (RGPD), notre association vous confirme qu’en vertu du principe de minimisation des données, elle ne demande à ses membres que les données qui lui sont nécessaires. Par ailleurs, conformément au même principe, notre association ne traite vos données personnelles que lorsque c’est nécessaire à la gestion des interactions.

		En cas de candidature professionnelle ou de stage

		En vertu du Règlement européen pour la protection des données (RGPD), nous vous informons que les données personnelles que vous nous avez communiquées sont gardées tout au long de la procédure de sélection et à cette fin exclusivement. Par sécurité juridique, nous gardons ces données pendant 1 an suite à la fin de la procédure de sélection. Il vous est loisible de nous adresser une demande de suppression avant cette échéance.

		Dans le contexte d’une candidature spontanée, en vertu du Règlement européen pour la protection des données (RGPD), nous vous informons que les données personnelles que vous nous avez communiquées sont gardées et collectées en vue d’un éventuel poste qui s’ouvrirait à l’avenir. Toutefois, à l’issue d’une période de 1 an suite à la réception de votre candidature spontanée, nous supprimons vos données personnelles de notre base de données. Il vous est loisible de nous adresser une demande de suppression avant cette échéance.

		Soucieuse de respecter le prescrit du Règlement européen pour la protection des données (RGPD), notre association vous confirme qu’elle met tout en oeuvre pour veiller au respect de la vie privée de ses stagiaires et qu’en vertu du principe de minimisation des données, elle ne demande à ses stagiaires que les données qui lui sont nécessaires. Par ailleurs, conformément au même principe, notre association ne traite les données personnelles de ses stagiaires que lorsque c’est nécessaire à la gestion de leur dossier. Les données personnelles des stagiaires ne sont pas communiquées à des tiers, à l’exception des pouvoirs subsidiants qui peuvent exciper d’une base légale à l’appui de leur demande.

		En cas d’inscription à un évènement organisé par LESSIRE Pol
		Les données d’inscription à une initiative de LESSIRE Pol ne sont utilisées qu’à la fin de gérer la bonne participation à l’activité et ses suivis (par exemple, réception des actes). Un·e inscrit·e peut à tout moment consulter ses données personnelles enregistrées auprès de l’organisateur·trice, en demander la rectification en cas d’erreur ou demander à être retiré·e de la liste en vertu de son droit à l’oubli.

		LESSIRE Pol garde une copie de votre attestation de présence pendant 2 ans suite à la formation/au séminaire à la/auquel vous avez participé, et ce à des fins exclusives de sécurité juridique, dans le cas où vous souhaiteriez ultérieurement en redemander une copie, à moins que vous fassiez une demande expresse de suppression. Les données personnelles qui y sont reprises ne sont pas communiquées à des tiers.

		https://pol-lessire.lescigales.org
		Le site internet de notre association est, autant que possible, conforme au prescrit du Règlement européen pour la protection des données (RGPD). Ainsi, les données “utilisateur” que vous y encodez ne sont pas communiquées à des tiers et elles sont conservées exclusivement à des fins de gestion de votre compte membre aussi longtemps que dure votre affiliation. Votre désaffiliation de notre association entraîne la suppression automatique de vos données “utilisateur”.

		Nos lettres d’information et communications
		LESSIRE Pol s'efforce de respecter le Règlement européen pour la protection des données (RGPD). Vous pouvez en permanence vous désabonner/vous désaffilier, demander la rectification de vos données en cas d’erreur ou en demander la suppression en vertu de votre droit à l’oubli en nous adressant un mail à lessirepol@gmail.com.

		Nos partenaires et notre base de données

		Le Règlement européen pour la protection des données (RGPD) prévoit la protection des données à caractère personnel des personnes physiques et non des personnes morales. Ce sont donc les personnes physiques qui sont protégées et dont LESSIRE Pol assure la sécurité des données conformément à cette présente déclaration de politique des données privées.

		Soucieuse de respecter le prescrit du Règlement européen pour la protection des données (RGPD), notre association vous confirme avoir procédé à l’audit de tous les contrats qui la lie à ses sous-traitants et vous confirme qu’ils ont tous procédé à la mise en conformité au RGPD.

		1.3. <h3>Limitation de responsabilité</h3>

		Sous réserve des dispositions légales ou réglementaires applicables, LESSIRE Pol ne peut être tenue responsable de tout dommage direct ou indirect, pertes de profits, de clientèles, de données, de biens incorporels pouvant intervenir du fait de l’utilisation ou de l’impossibilité d’utilisation du site.

		D’autre part, la responsabilité de LESSIRE Pol ne pourra être engagée dans le cadre d’un acte de reproduction, contrefaçon ou piratage, même partiel du contenu livré par ses fournisseurs d’information, ainsi que des dommages relevant des ces abus.

		1.4. <h2>Responsabilité implicite de consultation et d’utilisation</h2> du site https://pol-lessire.lescigales.org

		En application des présentes dispositions, la responsabilité de consultation ou/et d’utilisation du site https://pol-lessire.lescigales.orgrevient entièrement à l’utilisateur.
		Les informations et services inclus sur le site peuvent comporter des inexactitudes techniques ou des erreurs. Toutes ces informations sont fournies "en l’état" sans garantie d’aucune sorte.
		LESSIRE Pol ne pourra dès lors sous aucun prétexte être rendu responsable des pertes ou dommages encourus par un utilisateur par l’inexactitude du contenu du https://pol-lessire.lescigales.org
		L’obtention de conseils et d’informations, tant écrits qu’oraux, de LESSIRE Pol ne pourra créer un contexte de garantie.

		1.5. <h2>Droit applicable - Litiges</h2>

		Le site https://pol-lessire.lescigales.org est soumis au droit belge et en cas de litige seuls les tribunaux de l’arrondissement de Namur seront compétents.
	</p>

	<p>
		2. Conditions particulières applicables aux contenus et à certaines rubriques du site https://pol-lessire.lescigales.org
		2.1. <h2>Liens et contenu audio-visuels</h2>

		Dans le cadre de la réalisation de l’objet social de LESSIRE Pol, le site https://pol-lessire.lescigales.org propose à ces utilisateurs un contenu audio-visuel, tel par exemple l’écoute ou la visualisation de réalisations.
		Celles-ci seront proposées sur le site en accord avec les sociétés d’auteurs concernées ou encore les ayants droit.

		2.2. <h2>Liens vers d’autres sites tiers</h2>

		Dans le souci de fournir une information de grande qualité à ces utilisateurs, le site https://pol-lessire.lescigales.org contient des liens vers d’autres sites internet qui ne sont pas la propriété de LESSIRE Pol.
		Tout hyper lien proposé vers des sites tiers a été contrôlé lors de la mise en ligne de l’information y sujette. LESSIRE Pol ne pourra dès lors être tenue responsable, et ceci d’une quelconque manière, si le cas échéant, une source d’information pointée ne respecte plus les disposition légales belges ou encore européennes en vigueur. A aucun moment les conséquences de ce non respect ne pourront être imputées à LESSIRE Pol.
	</p>

	<p><strong>LESSIRE Pol</strong></p>

</div>


