@page "/skill"
@using PortFolioPolLESSIRE0Blazor.Models;

<h3>Skills List</h3>
@* <table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (SkillModel ce in Skills)
    {
        <tr>
            <td>@ce.Name</td>
            <td><button class="btn btn-sm btm-outline-info" @onclick="() => ClickInfo(ce.Id)">Info</button></td>
        </tr>
    }
</table> *@

<hr />

@* @if(SelectedId > 0)
{
    <SkillSDetail id="SelectedId"></SkillSDetail>
} *@

<hr />

@code {

}
