<h3>Skill Detail</h3>

@if (CurrentSkill is not null)
{
    <div class="detail-container">
        <p>Name : @CurrentSkill.Name</p>
        <p>Level : @CurrentSkill.Level</p>
        <p>Description : @CurrentSkill.Description</p>
    </div>
    
}
else
{
    <p>Loading Skill details...</p>
}



































@* Copyrite https://github.com/POLLESSI *@
